<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- Mirrored from wowthemez.com/templates/hangout/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Feb 2018 22:44:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="AlexaTheme">

    <title>Hangout</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('bundles/user/img/favicon.png')}}">

    <!-- Elegant Font Icons CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/elegant-font-icons.css')}}">
    <!-- Elegant Line Icons CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/elegant-line-icons.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/bootstrap.min.css')}}">
    <!-- animate CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/animate.min.css')}}">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/venobox/venobox.css')}}">
    <!-- OWL-Carousel CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/owl.carousel.css')}}">
    <!-- Slick Nav CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/slicknav.min.css')}}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/main.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/user/css/responsive.css')}}">

    <script src="{{ asset('bundles/user/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id='preloader' >
    <div class='loader' >
        <img src="{{ asset('bundles/user/img/chef-preloader.gif') }}" width="80" alt="">
    </div>
</div><!-- Preloader -->

<header id="header" class="header_section">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <img src="{{ asset('bundles/user/img/logo.png') }}" alt="Logo">
            </div>
            <div id="navbar" class="navbar-right">
                <ul id="mainmenu" class="nav navbar-nav nav-menu">
                    <li class="active"><a href="{{ asset('bundles/user/index.html')}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="{{ asset('bundles/user/about.html')}}">About</a></li>
                    <li><a href="{{ asset('bundles/user/food-menu.html')}}">Menus</a></li>
                    <li> <a href="#">Pages</a>
                        <ul>
                            <li><a href="{{ asset('bundles/user/reservation.html')}}">Reservation</a></li>
                            <li><a href="{{ asset('bundles/user/gallery.html')}}">Gallery</a></li>
                            <li><a href="{{ asset('bundles/user/chef.html')}}">Stuff</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ asset('bundles/user/blog.html')}}">News</a>
                        <ul>
                            <li><a href="{{ asset('bundles/user/blog-single.html')}}">News Single</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ asset('bundles/user/contact.html') }}">Contact</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav><!-- Navigation Bar -->
</header> <!-- Header_Section -->
<section class="slider_section">
    <ul id="main-slider" class="owl-carousel main_slider">
        <li class="main_slide" style="background-image: url({{ asset('bundles/user/bundles/user/img/slide-1.jpg') }});">
            <div class="container">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="slider_content align-center">
                            <h3 class="text-white">Welcome To</h3>
                            <h1 class="text-white">Hangout Restaurant</h1>
                            <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> It has survived not only five centuries.</p>
                            <div class="btn_group">
                                <a href="#" class="default_btn">Discover Now</a>
                                <a href="#" class="default_btn">Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="main_slide" style="background-image: url({{ asset('bundles/user/img/slide-2.jpg') }})">
            <div class="container">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="slider_content align-center">
                            <h3 class="text-white">Welcome To</h3>
                            <h1 class="text-white">Hangout Restaurant</h1>
                            <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> It has survived not only five centuries.</p>
                            <div class="btn_group">
                                <a href="#" class="default_btn">Discover Now</a>
                                <a href="#" class="default_btn">Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="main_slide" style="background-image: url({{ asset('img/slide-3.jpg') }});">
            <div class="container">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="slider_content align-center">
                            <h3 class="text-white">Welcome To</h3>
                            <h1 class="text-white">Hangout Restaurant</h1>
                            <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> It has survived not only five centuries.</p>
                            <div class="btn_group">
                                <a href="#" class="default_btn">Discover Now</a>
                                <a href="#" class="default_btn">Reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section><!-- /.slider_section -->

<section id="about" class="about_section bg-grey bd-bottom padding">
    <div class="container">
        <div class="col-sm-6">
            <div class="about_content">
                <h2 class="mb-15">We Make Delecious Foods Since 1952.</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type scrambled it to make a type specimen book.</p>
                <img src="{{ asset('bundles/user/img/sign.png') }}" alt="">
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="about_img">
                <img src="{{ asset('bundles/user/img/about-bg-1.jpg') }}" alt="idea-images" class="about_img_1">
                <img src="{{ asset('bundles/user/img/about-bg-2.jpg') }}" alt="idea-images" class="about_img_2">
            </div>
        </div>
    </div>
</section> <!--/.about_section -->

<section id="menu" class="menu_section bd-bottom padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>Our Special Menu</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div><!-- /.section_heading -->
        <div class="menu_items">
            <ul class="tab_menu mb-30">
                <li class="active"><a href="#breakfast" data-toggle="tab">Breakfast</a></li>
                <li><a href="#dessert" data-toggle="tab">Dessert</a></li>
                <li><a href="#fastfood" data-toggle="tab">Fastfood</a></li>
                <li><a href="#lunch" data-toggle="tab">Lunch</a></li>
                <li><a href="#package" data-toggle="tab">Package</a></li>
                <li><a href="#dinner" data-toggle="tab">Dinner</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade tab_content in active" id="breakfast">
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-1.jpg') }}" alt="food">
                            <h3>Double Grape Martani</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-2.jpg') }}" alt="food">
                            <h3>Seafood Paella</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-3.jpg') }}" alt="food">
                            <h3>Masala Dosa</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-4.jpg')}}" alt="food">
                            <h3>Buttered Popcorn</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                </div> <!-- /#breakfast -->
                <div class="tab-pane fade tab_content" id="dessert">
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-5.jpg') }}" alt="food">
                            <h3>Double Grape Martani</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-6.jpg') }}" alt="food">
                            <h3>Seafood Paella</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-7.jpg') }}" alt="food">
                            <h3>Masala Dosa</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-8.jpg') }}" alt="food">
                            <h3>Buttered Popcorn</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                </div> <!-- /#dessert -->
                <div class="tab-pane fade tab_content" id="fastfood">
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-1.jpg') }}" alt="food">
                            <h3>Double Grape Martani</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-2.jpg') }}" alt="food">
                            <h3>Seafood Paella</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-3.jpg') }}" alt="food">
                            <h3>Masala Dosa</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-4.jpg') }}" alt="food">
                            <h3>Buttered Popcorn</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                </div> <!-- /#fastfood -->
                <div class="tab-pane fade tab_content" id="lunch">
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-5.jpg') }}" alt="food">
                            <h3>Double Grape Martani</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-6.jpg') }}" alt="food">
                            <h3>Seafood Paella</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-7.jpg') }}" alt="food">
                            <h3>Masala Dosa</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-8.jpg') }}" alt="food">
                            <h3>Buttered Popcorn</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                </div> <!-- /#lunch -->
                <div class="tab-pane fade tab_content" id="package">
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-1.jpg') }}" alt="food">
                            <h3>Double Grape Martani</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-2.jpg') }}" alt="food">
                            <h3>Seafood Paella</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-3.jpg') }}" alt="food">
                            <h3>Masala Dosa</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-4.jpg') }}" alt="food">
                            <h3>Buttered Popcorn</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                </div> <!-- /#package -->
                <div class="tab-pane fade tab_content" id="dinner">
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-5.jpg') }}" alt="food">
                            <h3>Double Grape Martani</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-6.jpg') }}" alt="food">
                            <h3>Seafood Paella</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-7.jpg') }}" alt="food">
                            <h3>Masala Dosa</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 xs-padding">
                        <div class="food_content align-center">
                            <img src="{{ asset('bundles/user/img/f-8.jpg') }}" alt="food">
                            <h3>Buttered Popcorn</h3>
                            <p>Lorem Ipsum is simply dummy text printing and business restaurant industry.</p>
                            <h4 class="price">$499</h4>
                        </div>
                    </div>
                </div> <!-- /#dinner -->
            </div>
        </div>
    </div>
</section><!-- /.menu_section -->

<section id="gallery" class="gallery_section bg-grey padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>Food Gallery</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div><!-- /.section_heading -->
    </div>
    <div class="container-fluid no-padding">
        <ul class="gallery_items">
            <li class="col-sm-4 col-xs-6 single_item branding">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/user/img/gallery-1.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/user/img/gallery-1.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Delicious Foods</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item photo">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/user/img/gallery-2.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/user/img/gallery-2.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Delicious Foods</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item print branding">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/user/img/gallery-3.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/user/img/gallery-3.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Delicious Foods</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item website photo">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/user/img/gallery-4.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/user/img/gallery-4.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Delicious Foods</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item print photo">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/user/img/gallery-5.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/user/img/gallery-5.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Delicious Foods</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
            <li class="col-sm-4 col-xs-6 single_item branding website">
                <figure class="gallery_item">
                    <img src="{{ asset('bundles/user/img/gallery-6.jpg') }}" alt="gallery Item">
                    <figcaption class="overlay">
                        <a href="{{ asset('bundles/user/img/gallery-6.jpg') }}" class="img_popup">
                            <div class="table-cell">
                                <h3>Delicious Foods</h3>
                            </div>
                        </a>
                    </figcaption>
                </figure>
            </li>
        </ul><!-- /.gallery_items -->
    </div>
</section><!-- /.gallery_section -->

<section id="reviews" class="testimonial_section padding">
    <div class="container">
        <ul id="testimonial_carousel" class="testimonial_items owl-carousel">
            <li class="testimonial_item">
                <p>"There are design companies, and then there are user experience design interface design<br> professional. By far one of the worlds best known brands."</p>
                <h4 class="text-white">Anita Tran, IT Solutions.</h4>
            </li>
            <li class="testimonial_item">
                <p>"There are design companies, and then there are user experience design interface design<br> professional. By far one of the worlds best known brands."</p>
                <h4 class="text-white">Leslie Williamson, Developer.</h4>
            </li>
            <li class="testimonial_item">
                <p>"There are design companies, and then there are user experience design interface design<br> professional. By far one of the worlds best known brands."</p>
                <h4 class="text-white">Fred Moody, Network Software.</h4>
            </li>
        </ul>
    </div>
</section><!-- /.testimonial_section -->

<section id="reservation" class="reservation_section bg-grey">
    <div class="container padding">
        <div class="col-sm-8 col-sm-offset-2 align-center">
            <div class="reserv_form">
                <div class="section_heading mb-40">
                    <h2>Make Online Reservation</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>It has survived not only five centuries.</p>
                </div>
                <form action="http://wowthemez.com/templates/hangout/reg.php" method="post" id="reserv_form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <input type="text" id="res_name" name="name" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="col-xs-6">
                            <input type="email" id="res_email" name="email" class="form-control" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <input type="text" id="res_phone" name="phone" class="form-control" placeholder="Your Phone No" required>
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control" id="quantity" name="quantity">
                                <option>1 Person</option>
                                <option>2 Person</option>
                                <option>3 Person</option>
                                <option>4 Person</option>
                                <option>5 Person</option>
                                <option>6 Person</option>
                            </select>
                        </div>
                    </div>
                    <button id="res_submit" class="default_btn" type="submit">Reserve a Table</button>
                    <div id="msg-status" class="alert" role="alert"></div>
                </form>
            </div>
        </div>
    </div>
</section><!-- /.reservation_Section -->

<section id="news" class="blog_section bd-bottom padding">
    <div class="container">
        <div class="section_heading align-center mb-40">
            <h2>Latest Blog Posts</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div><!-- /.section_heading -->
        <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="blog_post">
                <img src="{{ asset('bundles/user/img/blog-1.jpg') }}" alt="blog-image">
                <div class="blog_content">
                    <h4>Hangout Restaurant Latest News.</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit Ea ratione optio.</P>
                    <span class="post_meta"><strong>Posted by:</strong> Cameroon Smith</span>
                    <a href="#" class="default_btn">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="blog_post">
                <img src="{{ asset('bundles/user/img/blog-2.jpg') }}" alt="blog-image">
                <div class="blog_content">
                    <h4>Hangout Restaurant Latest News.</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit Ea ratione optio.</P>
                    <span class="post_meta"><strong>Posted by:</strong> Michel Clarke</span>
                    <a href="#" class="default_btn">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-6 xs-padding">
            <div class="blog_post">
                <img src="{{ asset('bundles/user/img/blog-3.jpg') }}" alt="blog-image">
                <div class="blog_content">
                    <h4>Hangout Restaurant Latest News.</h4>
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit Ea ratione optio.</P>
                    <span class="post_meta"><strong>Posted by:</strong> Jeenifer Freman</span>
                    <a href="#" class="default_btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.blog_section -->

<div class="sponsor_section bg-grey">
    <div class="container">
        <ul id="sponsor_carousel" class="sponsor_items owl-carousel">
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-1.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-2.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-3.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-4.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-5.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-1.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-2.png') }}" alt="sponsor-image">
            </li>
            <li class="sponsor_item">
                <img src="{{ asset('bundles/user/img/sponsor-3.png') }}" alt="sponsor-image">
            </li>
        </ul>
    </div>
</div><!-- ./sponsor_section -->

<section id="subscribe" class="widget_section padding">
    <div class="container">
        <div class="col-md-4 col-xs-6 xs-padding">
            <div class="footer_widget">
                <h3 class="text-white">Contact information</h3>
                <p>ADDRESS: 100 Tenth Avenue, New York City, NY 1001
                    <br>FOR BOOKING: (044) 359 0173</p>
                <ul class="widget_social">
                    <li><a href="#"><i class="social_facebook"></i></a></li>
                    <li><a href="#"><i class="social_twitter"></i></a></li>
                    <li><a href="#"><i class="social_googleplus"></i></a></li>
                    <li><a href="#"><i class="social_instagram"></i></a></li>
                    <li><a href="#"><i class="social_linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 xs-padding">
            <div class="footer_widget">
                <h3 class="text-white">Opening Hours</h3>
                <p>Monday - Friday 11:30AM - 2:00PM <br>Saturday - Sunday 4:30PM - 10:00PM <br>Monday - Friday 5:30PM - 11:00PM</p>

            </div>
        </div>
        <div class="col-md-4 col-xs-12 xs-padding">
            <div class="footer_widget">
                <h4 class="text-white">Subscribe to our contents</h4>
                <div class="subscribe_form">
                    <form action="#" class="subscribe_form">
                        <input type="email" name="email" id="subs-email" class="form_input" placeholder="Email Address...">
                        <button type="submit" class="submit">SUBSCRIBE</button>
                        <div class="clearfix"></div>
                        <div id="subscribe-result">
                            <p class="subscription-success"></p>
                            <p class="subscription-error"></p>
                        </div>
                    </form>
                    <p class="align-left">There are design companies and then there are user experience design professional.</p>
                </div><!-- Subscribe Form -->
            </div>
        </div>
    </div>
</section><!-- /.widget_section -->

<footer class="footer_section">
    <div class="container">
        <div class="col-xs-6 xs-padding">
            <div class="copyright">&copy; 2018 Hangout Powered by WowThemez</div>
        </div>
        <div class="col-xs-6 xs-padding">
            <ul class="footer_social">
                <li><a href="#">Orders</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Report Problem</a></li>
            </ul>
        </div>
    </div>
</footer><!-- /.footer_section -->

<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>

<!-- jQuery Lib -->
<script src="{{ asset('bundles/user/js/vendor/jquery-1.12.4.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ asset('bundles/user/js/vendor/bootstrap.min.js') }}"></script>
<!-- Imagesloaded JS -->
<script src="{{ asset('bundles/user/js/vendor/imagesloaded.pkgd.min.js') }}"></script>
<!-- OWL-Carousel JS -->
<script src="{{ asset('bundles/user/js/vendor/owl.carousel.min.js') }}"></script>
<!-- isotope JS -->
<script src="{{ asset('bundles/user/js/vendor/jquery.isotope.v3.0.2.js') }}"></script>
<!-- Smooth Scroll JS -->
<script src="{{ asset('bundles/user/js/vendor/smooth-scroll.min.js') }}"></script>
<!-- venobox JS -->
<script src="{{ asset('bundles/user/js/vendor/venobox.min.js') }}"></script>
<!-- ajaxchimp JS -->
<script src="{{ asset('bundles/user/js/vendor/jquery.ajaxchimp.min.js') }}"></script>
<!-- Slick Nav JS -->
<script src="{{ asset('bundles/user/js/vendor/jquery.slicknav.min.js') }}"></script>
<!-- Contact JS -->
<script src="{{ asset('bundles/user/js/contact.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('bundles/user/js/main.js') }}"></script>

</body>

<!-- Mirrored from wowthemez.com/templates/hangout/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Feb 2018 22:50:36 GMT -->
</html>